<head lang="{{ .Site.Language.Lang }}">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} | Home </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<meta property="og:image" content="{{ .Site.Params.og_image }}"/>

	{{ with .OutputFormats.Get "rss" }}
      {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	{{- if isset .Site.Params "social" -}}
	  {{- range $index, $key := .Site.Params.Social -}}
	    {{- if hasPrefix $key.icon "simple:" -}}
      <link rel="stylesheet" href="https://unpkg.com/simple-icons-font@v14/font/simple-icons.min.css" type="text/css">
	    {{- end -}}
	  {{- end -}}
	{{- end -}}
	{{ if .Site.Params.useCDN | default true -}}
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	{{- else -}}
	{{ $fontstyle := resources.Get "css/fonts.css" | fingerprint }}
        <link href="{{ $fontstyle.Permalink }}" rel="stylesheet">
	{{ end }}

	{{ $style := resources.Get "css/main.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />




	<!-- Custom CSS style get applied last -->
	{{- if isset .Site.Params "customcss" }}
		{{ range .Site.Params.customCSS }}
		{{ $customstyle := resources.Get . | fingerprint }}
		<link rel="stylesheet" type="text/css" href="{{ $customstyle.Permalink }}">
		{{ end }}
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else if (hasPrefix . "<script")}}
    {{ .| safeHTML }}
	{{- else }}
	<script src="{{ absURL . }}"></script>
	{{- end }}
	{{- end }}

	{{- partial "extend_head.html" . -}}
</head>
